
html {
	font-family: "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", serif;
}

body {
	line-height: 1.5; /*stole this from erikbern's site*/
	padding-left: 5%;
	padding-right: 5%;

}

a {
	text-decoration: none; 
	color: gray;
}


h1 {
 /*fenagle with the font family*/
}



.banner-title {
	width: 100%; /*set to 100 so that text-align takes effect*/
	text-align: center; 
}


.coming-soon {
 	font-style: italic;
	color: gray;
}


.container {
	display: grid; /*i might regret this later*/
	grid-template-columns: [left] 20% [center-left] 40% [center-right] 20% [right]; 
	grid-template-rows: [top] 20% [content-start] auto [bottom]; 
	align-items: center;

}

.nav-placeholder {
	grid-column: left / center-left;
	grid-row: content-start / bottom ;
}

.item .header {
	grid-column: left / center-left;
	grid-column: top / content-start;

} 


.item .content {
	grid-column: center left / center-right;
	grid-row: content-start / bottom;
}









