
html {
	font-family: "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", serif;
}

body {
	display: grid; /*i might regret this later*/
}



.banner-title {
	width: 100%; /*set to 100 so that text-align takes effect*/
	text-align: center; 
}


.coming-soon {
 	font-style: italic;
	color: gray;
}